<%- include("header"); -%>

<body>
  <main>
    <a href="/" class="back-btn text-light">Back</a>

    <div class="main-section-country">
      <div class="main-section-country-flag-img">l</div>
      <div class="main-section-country-text">
        <div class="text-section-1">
          <h2 class="text-light">Belgium</h2>
          <p class="text-light">Native Name: Belgie</p>
          <p class="text-light">Population: 11,2234,45</p>
          <p class="text-light">Region: Europe</p>
          <p class="text-light">Sub Region: Western Europe</p>
          <p class="text-light">Capital: Brussels</p>
        </div>
        <div class="text-section-2">
          <p class="text-light">Top-level-Domain: .be</p>
          <p class="text-light">Currencies: Euro</p>
          <p class="text-light">Languages: Dutch, French, German</p>
        </div>
      </div>
      <div class="main-section-border-country">
        <h5 class="text-light">Border Countries</h5>
        <p class="text-light">France</p>
        <p class="text-light">Germany</p>
        <p class="text-light">Nertherlands</p>
      </div>
    </div>
  </main>
</body>
